* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  max-width: 500px;
  line-height: 1.4em;
  font-family: Georgia;
  margin: 3rem auto;
  overflow: auto;
}


.game-narrative p:nth-child(2) { color: #555; }
.game-narrative p:nth-child(3) { color: #999; }
.game-narrative p:nth-child(n+4) { color: #aaa; }

.button {
  transition: all ease-out .1s;
  background: #fff;
  font-size: .75rem;
  display: inline-block;
  outline: none;
  padding: 5px 10px;
  border: solid 1px #bbb;
  cursor: pointer;
  border-bottom-width: 2px;
  border-radius: 4px;
}
.button:enabled:active {
  background: #ddd;
}
.button:disabled:active {
  border-color: #d37272;
}
