* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  max-width: 756px;
  line-height: 1.3em;
  margin: 3rem auto;
  overflow: auto;
}

.game-controls {
  width: 30%;
  float: left;
}

.game-story {
  width: 70%;
  float: right;
}

.button {
  transition: background ease-out .1s;
  background: #fff;
  font-size: .75rem;
  display: inline-block;
  padding: 5px 10px;
  border: solid 1px #bbb;
  margin: 0 auto 1rem;
  cursor: pointer;
  border-bottom-width: 2px;
  border-radius: 4px;
}
.button:enabled:active {
  background: #ddd;
}
.button:disabled:active {
  border-color: #d37272;
}
